<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<select name="abc" v-model="stuff">
				<option value="书" >书</option>
				<option value="铅笔" >铅笔</option>
				<option value="文具" >文具</option>
			</select>
			<h3>您选择的是{{stuff}}</h3>
			<select name="abcd" v-model="stuffs" multiple="">
				<option value="书" >书</option>
				<option value="铅笔" >铅笔</option>
				<option value="文具" >文具</option>
			</select>
			<h3>您选择的是{{stuffs}}</h3>
			
		</div>
		<script type="text/javascript" src="vue.js"></script>
		<script>
			const app = new Vue({
				el:"#app",
				data:{
					message:"hello vue",
					stuff:'书',
					stuffs:[]
				}
			})
		</script>
	</body>
</html>
